body {
    padding-top: 70px;
}

.label a, .label a:hover {
    color: white
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}