@(item: model.AmazonItem)

@main(item.title) {
    <div class="jumbotron">
        <h2 class="text-center">
            <span>Your rating:</span>
            <span class="label label-danger"><a href="rating?item=@item.itemId&rating=1">Very Bad</a></span>
            <span class="label label-warning"><a href="rating?item=@item.itemId&rating=2">Bad</a></span>
            <span class="label label-info"><a href="rating?item=@item.itemId&rating=3">Average</a></span>
            <span class="label label-primary"><a href="rating?item=@item.itemId&rating=4">Good</a></span>
            <span class="label label-success"><a href="rating?item=@item.itemId&rating=5">Excellent</a></span>
        </h2>
    </div>
    <h3>@item.title</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="@item.img"/>
            <br/>
            <a href="@item.url" target="_blank">See item on Amazon</a>
        </div>
        <div class="col-md-6">
            @Html(item.description)
        </div>
    </div>

}